* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.window_parameters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
  gap: 2rem;
  padding: 1rem 12rem;
}

.window_parameters div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  color: #FFF;
  background-color: red;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  justify-content: center;
  gap: 2rem;
  padding: 1rem 12rem;
}

button {
  color: #FFF;
  background-color: navy;
  font-size: 1.1rem;
  height: 3rem;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 1rem;
}

li {
  padding-bottom: 1rem;
}

